{% extends "base.html" %} {% block title %}Login / Signup{% endblock %} {% block content
  %}
  <form method="POST">
    <div class="login-container">
    <!-- Login form -->
      <div>
        <h2>Login or Sign Up</h2>
        <div class="form-input">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-input">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button class="login-button">Log In</button>
        <button class="signup-button"><a href="signup">Sign Up</a></button>        
      </div>
    </div>
  </form>
  {% endblock %}

