{% extends "base.html" %} {% block title %}Profile{% endblock %} {% block content
  %}
  <div class="profile-container">
    <h2>{{username}}'s catches</h2>
    <div class="grid-container">
      {% for catch in catches %}
      
      <div class="catch-card" data-catch-id="{{ catch.catch_id }}">
          <div class="catch-title">{{ catch.fish_type }}</div>
          <div class="catch-attribute">Weight: {{ catch.weight }}</div>
          <div class="catch-attribute">Length: {{ catch.length }}</div>
          <div class="catch-attribute">Lure: {{ catch.lure }}</div>
          <div class="catch-attribute">Location: {{ catch.location }}</div>
          <div class="catch-attribute">Latitude: {{ catch.latitude }}</div>
          <div class="catch-attribute">Longitude: {{ catch.longitude}}</div>
          <div class="img-container">
            <img src="{{ catch.image }}" alt="Catch Image">
          </div>
          <button class="material-icons delete-btn">delete</button>
      </div>     
      {% endfor %}
  {% endblock %}