{% extends "base.html" %} {% block title %}Profile{% endblock %} {% block content
  %}
  <h2>My Catches</h2>
  <div class="grid-container">
    {% for catch in catches %}
    <div class="catch-card">
        <div class="catch-title">{{ catch.fish_type }}</div>
        <div class="catch-attribute">Weight: {{ catch.weight }}</div>
        <div class="catch-attribute">Length: {{ catch.length }}</div>
        <div class="catch-attribute">Lure: {{ catch.lure }}</div>
        <div class="catch-attribute">Location: {{ catch.location }}</div>
    </div>
    {% endfor %}

  </div>
  {% endblock %}