<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="static/styles.css">
    <style>
        body {
          font-family: Arial, sans-serif;
          margin: 0;
          height: 100vh;
          display: flex;
          flex-direction: column;
        }
    </style>
</head>

<body>
    <form method="POST">
        <div class="login-container">
        <!-- Login form -->
          <div>
            <h2>Sign Up</h2>
            <div class="form-input">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="enter username">
            </div>
            <div class="form-input">
                <label for="password">Password</label>
                <input type="password" id="password1" name="password1" placeholder="enter password">
            </div>
            <div class="form-input">
                <label for="password">Confirm Password</label>
                <input type="password" id="password2" name="password2" placeholder="re-enter password">
            </div>
            <button class="signup-button">Sign Up</button>
          </div>
        </div>
      </form>
</body>
</html>

